{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "formatOnSave": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "flow"
      }
    }
  ]
}
